Repository varaprasadreddy9676/integration-control-plane: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix(ci): install backend deps before running tests
  .github/workflows/ci.yml
Due: none

fix(ci): use npm ci instead of npm install --prefer-offline
  .github/workflows/ci.yml
Due: none

fix(ci): use npm install to resolve platform-specific Biome binary
  .github/workflows/ci.yml
Due: none

fix(ci): delete lockfiles before install to resolve platform binaries
  .github/workflows/ci.yml
Due: none

fix(ci): update biome.json to v2.3.15 schema
  backend/biome.json
Due: backend

docs: update README, CONTRIBUTING, and add open-source testing plan
  docs/test-plan.md
Due: none

docs: add competitor comparison page (Svix, Convoy, Hookdeck, DIY)
  README.md
  docs/comparison.md
Due: none

feat: embeddable webhook portal via magic link + iframe mode
  backend/src/routes/auth.js
  frontend/src/app/App.tsx
Due: backend, frontend

feat: Super Admin UI for generating portal magic links
  backend/src/routes/auth.js
  frontend/src/features/admin/OrgDirectoryRoute.tsx
  frontend/src/services/api.ts
Due: backend, frontend

docs: add production deployment guide
  README.md
  docs/guides/DEPLOYMENT.md
Due: none

fix(frontend): resolve typescript build errors in CI
  frontend/src/app/App.tsx
  frontend/vite.config.ts
Due: frontend

ci: add multi-arch support for docker images (amd64, arm64)
  .github/workflows/docker-image.yml
Due: none

fix(frontend): allow portal embedding by relaxing X-Frame-Options in nginx
  frontend/nginx.conf
Due: frontend

fix(frontend): standardize base path to root (/) for docker compatibility
  docs/guides/DEPLOYMENT.md
  frontend/vite.config.ts
Due: frontend

refactor: fully remove legacy /event-gateway base path references
  backend/biome.json
  backend/config.docker.json
  backend/config.example.json
  backend/package-lock.json
  backend/package.json
  backend/setup-docker-config.sh
  backend/src/routes/auth.js
  backend/test-portal.js
  docs/guides/GETTING-STARTED.md
  frontend/src/app/App.tsx
  frontend/src/features/inbound-integrations/routes/InboundIntegrationDetailRoute.tsx
  frontend/src/features/inbound-integrations/routes/InboundIntegrationsRoute.tsx
  frontend/src/features/integrations/routes/integrationDetail/components/IntegrationPageHeader.tsx
  frontend/src/features/scheduled-jobs/routes/ScheduledJobDetailRoute.tsx
  frontend/src/features/scheduled-jobs/routes/ScheduledJobsRoute.tsx
  frontend/vite.config.js
  scripts/utils/seed-system-config.js
Due: backend, frontend

chore: remove obsolete manual startup and build scripts
  build-frontend.sh
  start-backend-clean.sh
  start-backend-direct.sh
  start-backend.sh
  start-medics-event-gateway.sh
  stop-backend.sh
Due: none

chore: remove legacy process managers and helper scripts
  backend/.dockerignore
  backend/ecosystem.config.js
  backend/package.json
  backend/quick-test.sh
  backend/setup-docker-config.sh
  backend/supervisor.js
  docs/guides/SETUP.md
Due: backend

chore: remove obsolete .htaccess file
  frontend/public/.htaccess
Due: frontend

refactor(backend): remove legacy entityRid/entityParentRid aliases
  backend/src/data/helpers.js
  backend/src/data/integrations.js
  backend/src/middleware/audit.js
  backend/src/middleware/auth.js
  backend/src/routes/alert-center.js
  backend/src/routes/integrations.js
  backend/src/routes/outbound-integrations.js
  backend/src/services/ai/index.js
  backend/src/utils/org-context.js
Due: backend

fix(vm): cancel script-created timers on SecureVM finish
  backend/src/utils/secure-vm.js
  backend/test/tests/ai-routes-integration.test.js
Due: backend

refactor(frontend): migrate to org-centric naming
  frontend/src/app/App.tsx
  frontend/src/app/tenant-context.tsx
  frontend/src/components/OrgContextGuard.tsx
  frontend/src/features/events/components/EventAuditDrawer.tsx
  frontend/src/features/events/routes/EventAuditRoute.tsx
  frontend/src/features/flowBuilder/routes/FlowBuilderListRoute.tsx
  frontend/src/features/flowBuilder/state/flowToPayload.ts
  frontend/src/features/flowBuilder/state/flowTypes.ts
  frontend/src/features/flowBuilder/state/payloadToFlow.ts
  frontend/src/features/inbound-integrations/routes/InboundIntegrationDetailRoute.tsx
  frontend/src/features/inbound-integrations/routes/InboundIntegrationsRoute.tsx
  frontend/src/features/lookups/routes/LookupDetailRoute.tsx
  frontend/src/features/lookups/routes/LookupsRoute.tsx
  frontend/src/features/settings/AdminRateLimitsRoute.tsx
  frontend/src/features/settings/SettingsRoute.tsx
  frontend/src/mocks/services.ts
  frontend/src/mocks/types.ts
  frontend/src/services/api.ts
  frontend/src/utils/navigation.ts
Due: frontend

chore: config, migrations, and prod seed updates
  backend/.env.example
  backend/config.example.json
  backend/package-lock.json
  backend/package.json
  backend/setup/prod/medics_integration_gateway.integration_configs.json
  backend/setup/prod/medics_integration_gateway.org_units.json
  backend/setup/prod/medics_integration_gateway.organizations.json
  backend/setup/prod/medics_integration_gateway.ui_config.json
  backend/setup/prod/medics_integration_gateway.users.json
  backend/src/config.js
  frontend/vite.config.js
  scripts/migrations/rebuild-org-indexes.js
Due: backend, frontend

fix(setup): correct CleverTap config schema for current codebase
  backend/setup/clevertap/clever-tap-configurations.json
Due: backend

Improve inbound integration UX, event-source handling, and breadcrumb navigation
  backend/package-lock.json
  backend/package.json
  backend/src/adapters/MysqlEventSource.js
  backend/src/config.js
  backend/src/data/system-config.js
  backend/src/db.js
  backend/src/logger.js
  backend/src/processor/delivery-worker-manager.js
  backend/src/routes/admin.js
  backend/src/routes/event-sources.js
  backend/src/routes/integrations.js
  backend/src/routes/logs.js
  backend/test/tests/routes-storage-stats.test.js
  frontend/src/app/App.tsx
  frontend/src/app/tenant-context.tsx
  frontend/src/components/common/PageHeader.tsx
  frontend/src/components/common/ServerOfflineState.tsx
  frontend/src/features/admin/StorageStatsRoute.tsx
  frontend/src/features/inbound-integrations/routes/InboundIntegrationDetailRoute.tsx
  frontend/src/features/inbound-integrations/routes/InboundIntegrationsRoute.tsx
  frontend/src/features/settings/EventSourceSettingsRoute.tsx
  frontend/src/features/settings/MysqlPoolSettingsRoute.tsx
  frontend/src/features/settings/SettingsRoute.tsx
  frontend/src/services/api.ts
  frontend/src/utils/navigation.ts
Due: backend, frontend

Fix log filter prefill lock and update integration UX/workers
  backend/src/adapters/MysqlEventSource.js
  backend/src/db.js
  backend/src/processor/delivery-worker-manager.js
  backend/src/routes/admin.js
  build-frontend.sh
  frontend/public/.htaccess
  frontend/src/app/App.tsx
  frontend/src/features/alert-center/routes/AlertCenterRoute.tsx
  frontend/src/features/bulk/routes/BulkOperationsRoute.tsx
  frontend/src/features/dashboard/DashboardRoute.tsx
  frontend/src/features/events/routes/EventAuditRoute.tsx
  frontend/src/features/inbound-integrations/routes/InboundIntegrationDetailRoute.tsx
  frontend/src/features/integrations/routes/DLQRoute.tsx
  frontend/src/features/integrations/routes/IntegrationDetailRoute.tsx
  frontend/src/features/integrations/routes/IntegrationsRoute.tsx
  frontend/src/features/integrations/routes/integrationDetail/components/FormActionFooter.tsx
  frontend/src/features/integrations/routes/integrationDetail/components/IntegrationFormBody.tsx
  frontend/src/features/integrations/routes/integrationDetail/components/RuleStatusBar.tsx
  frontend/src/features/integrations/routes/integrationDetail/hooks/useDeliveryModeSwitch.ts
  frontend/src/features/logs/routes/LogsRoute.tsx
  frontend/src/features/lookups/routes/LookupsRoute.tsx
  frontend/src/features/scheduled-jobs/routes/ScheduledJobsRoute.tsx
  frontend/src/features/scheduled/routes/ScheduledIntegrationsRoute.tsx
  frontend/src/features/templates/routes/TemplatesRoute.tsx
  frontend/src/features/versions/routes/VersionsRoute.tsx
  frontend/src/services/api.ts
  frontend/vite.config.js
  frontend/vite.config.ts
  integration-gateway-frontend/DEPLOY.md
  integration-gateway-frontend/nginx.conf
Due: backend, frontend

feat(events): add lab order event types and dev server config
  .claude/launch.json
  backend/setup/event-types.json
Due: backend

feat(pathkind): add Pathkind LIS integration setup for org 145
  backend/setup/pathkind/README.md
  backend/setup/pathkind/integration_config.json
  backend/setup/pathkind/lookup_data.json
Due: backend

feat(akhil): add Akhil LIS integration setup for org 783
  backend/setup/akhil/README.md
  backend/setup/akhil/integration_config.json
  backend/setup/akhil/lookup_data.json
Due: backend

fix(akhil): correct auth type from OAUTH2 to CUSTOM
  backend/setup/akhil/README.md
  backend/setup/akhil/integration_config.json
Due: backend

fix(lookups): use orgId instead of entityParentRid in lookup resolution
  backend/setup/akhil/README.md
  backend/setup/pathkind/README.md
  backend/src/services/lookup-service.js
Due: backend

Finalize inbound rate-limit updates, docs audit, and targeted test coverage
  CONTRIBUTING.md
  README.md
  ROADMAP.md
  SECURITY.md
  backend/.env.example
  backend/README.md
  backend/SMOKE_TEST_README.md
  backend/docs/DATA_SOURCE_EXECUTOR.md
  backend/package-lock.json
  backend/setup/README.md
  backend/setup/event-types.json
  backend/src/config.js
  backend/src/index.js
  backend/src/logger.js
  backend/src/middleware/error-handler.js
  backend/src/middleware/rate-limit.js
  backend/src/routes/client-errors.js
  backend/src/routes/integrations.js
  backend/src/routes/scheduled-jobs.js
  backend/src/services/ai/prompts/test-payload.js
  backend/src/services/lookup-validator.js
  backend/test/tests/middleware-rate-limit.test.js
  docs/architecture/ARCHITECTURE.md
  docs/architecture/SCHEDULED_JOBS.md
  docs/guides/DOCKER.md
  docs/guides/EVENT-SOURCES.md
  docs/guides/GETTING-STARTED.md
  docs/guides/SETUP.md
  frontend/README.md
  frontend/package-lock.json
  frontend/src/features/inbound-integrations/routes/InboundIntegrationDetailRoute.tsx
  frontend/src/features/landing/docs/inbound-proxy.md
  frontend/src/features/landing/docs/outbound-delivery.md
  frontend/src/features/landing/docs/rbac.md
  frontend/src/features/settings/EventSourceSettingsRoute.tsx
  frontend/src/tests/inbound-rate-limits.test.tsx
  frontend/src/tests/setup.ts
  integration-gateway-frontend/DEPLOY.md
Due: backend, frontend

chore: sync local frontend lockfile and codex settings
  .claude/settings.local.json
  frontend/package-lock.json
Due: frontend

Update clever-tap-configurations.json
  backend/setup/clevertap/clever-tap-configurations.json
Due: backend

fix(admin): handle null rateLimits in bulk merge updates
  backend/src/routes/admin.js
  backend/test/tests/routes-admin-rate-limits.test.js
Due: backend

feat(portal): production-grade portal magic link access system
  .claude/launch.json
  backend/src/config.js
  backend/src/data/logs.js
  backend/src/data/portal-access-profiles.js
  backend/src/index.js
  backend/src/middleware/auth.js
  backend/src/middleware/portal-scope.js
  backend/src/routes/auth.js
  backend/src/routes/dashboard.js
  backend/src/routes/logs.js
  backend/src/routes/outbound-integrations.js
  backend/src/routes/portal-profiles.js
  backend/test/package-lock.json
  backend/test/package.json
  backend/test/tests/portal-scope.test.js
  backend/test/tests/routes-portal-profiles.test.js
  frontend/package.json
  frontend/src/app/App.tsx
  frontend/src/components/portal/PortalScopeBadge.tsx
  frontend/src/features/admin/OrgDirectoryRoute.tsx
  frontend/src/features/auth/PortalLaunchRoute.tsx
  frontend/src/services/api.ts
  frontend/src/utils/auth-storage.ts
Due: backend, frontend

feat(portal): smart integration/tag pickers in Portal Profile form
  frontend/src/features/admin/OrgDirectoryRoute.tsx
Due: frontend

fix(portal): deduplicate integrations and tags in profile picker
  frontend/src/features/admin/OrgDirectoryRoute.tsx
Due: frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
