Repository varaprasadreddy9676/integration-control-plane: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix CleverTap appointment contact script syntax
  backend/setup/clevertap/clever-tap-configurations.json
Due: backend

Refresh delivery logs on org switch
  frontend/src/features/logs/routes/LogsRoute.tsx
Due: frontend

Move inbound request policy to dedicated tab
  frontend/src/features/inbound-integrations/routes/InboundIntegrationDetailRoute.tsx
Due: frontend

Load backend env consistently from root
  backend/src/config.js
Due: backend

Refresh platform documentation
  README.md
  backend/README.md
  docs/README.md
  docs/architecture/ARCHITECTURE.md
  docs/guides/ALERT-CENTER.md
  docs/guides/DEPLOYMENT.md
  docs/guides/DOCKER.md
  docs/guides/EVENT-SOURCES.md
  docs/guides/GETTING-STARTED.md
  docs/guides/SETUP.md
  docs/guides/WEBHOOK-SECURITY.md
  docs/test-plan.md
  frontend/README.md
Due: backend, frontend

Refresh landing page documentation
  frontend/src/features/landing/docs/alert-center.md
  frontend/src/features/landing/docs/analytics-reports.md
  frontend/src/features/landing/docs/email-notifications.md
  frontend/src/features/landing/docs/event-sources.md
  frontend/src/features/landing/docs/webhook-security.md
Due: frontend

Add skipped delivery visibility across dashboard and logs
  README.md
  backend/nodemon.json
  backend/package.json
  backend/src/data/dashboard.js
  backend/src/data/logs.js
  backend/src/index.js
  backend/src/routes/analytics.js
  docs/README.md
  docs/architecture/REPO_MAP.md
  frontend/src/features/dashboard/DashboardRoute.tsx
  frontend/src/features/dashboard/components/DashboardDeliveriesTab.tsx
  frontend/src/features/dashboard/components/DashboardOverviewTab.tsx
  frontend/src/features/logs/routes/LogsRoute.tsx
  frontend/src/mocks/types.ts
  frontend/src/services/api.ts
Due: backend, frontend

Allow HTTP outbound targets by default
  backend/src/config.js
  backend/src/utils/url-check.js
  backend/test/tests/real-delivery.test.js
  backend/test/tests/url-check.test.js
  frontend/src/features/landing/docs/webhook-security.md
Due: backend, frontend

Fix CI regressions in status and inbound tests
  backend/src/routes/system-status.js
  backend/test/tests/routes-events-test-notification-queue.test.js
  frontend/src/features/inbound-integrations/routes/InboundIntegrationDetailRoute.tsx
Due: backend, frontend

Fix frontend multi-arch Docker build
  frontend/Dockerfile
Due: frontend

Add fail-closed signing and inbound HMAC auth
  README.md
  backend/src/index.js
  backend/src/processor/delivery-engine.js
  backend/src/processor/scheduler-worker.js
  backend/src/routes/integrations.js
  backend/src/routes/outbound-integrations.js
  backend/src/services/integration-signing.js
  backend/src/utils/curl-generator.js
  backend/test/tests/delivery-engine.test.js
  backend/test/tests/integration-signing.test.js
  backend/test/tests/routes-inbound-integrations-hmac.test.js
  backend/test/tests/routes-outbound-integrations.test.js
  docs/README.md
  docs/architecture/ARCHITECTURE.md
  docs/guides/WEBHOOK-SECURITY.md
  frontend/src/features/inbound-integrations/routes/InboundIntegrationDetailRoute.tsx
  frontend/src/features/inbound-integrations/routes/InboundIntegrationsRoute.tsx
  frontend/src/features/landing/docs/outbound-delivery.md
  frontend/src/features/landing/docs/webhook-security.md
  frontend/src/features/logs/routes/LogDetailRoute.tsx
  frontend/src/shared/integration-forms/authentication/AuthenticationFields.tsx
  frontend/src/shared/integration-forms/types/index.ts
Due: backend, frontend

Path conditions:
  backend: any of: backend/
  frontend: any of: frontend/
