Repository varaprasadreddy9676/integration-control-plane: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto        # use previous commit's coverage as baseline
        threshold: 2%       # allow 2% drop without failing PR
    patch:
      default:
        target: 50%         # new code in PRs should be 50%+ covered

comment:
  layout: "reach,diff,flags,tree"
  behavior: default

flags:
  backend:
    paths: [backend/]
  frontend:
    paths: [frontend/]

feat: enforce portal session read-only UI across all views
  frontend/src/app/App.tsx
  frontend/src/features/integrations/components/common/FormActions.tsx
  frontend/src/features/integrations/routes/IntegrationDetailRoute.tsx
  frontend/src/features/integrations/routes/IntegrationsRoute.tsx
  frontend/src/features/integrations/routes/integrationDetail/components/IntegrationPageHeader.tsx
  frontend/src/features/logs/routes/LogsRoute.tsx
Due: frontend

fix: add portal profile delete + fix success-alert UX bug
  backend/src/data/portal-access-profiles.js
  backend/src/routes/portal-profiles.js
  frontend/src/features/admin/OrgDirectoryRoute.tsx
  frontend/src/services/api.ts
Due: backend, frontend

fix: prevent double orgId query param on portal-profiles requests
  backend/src/routes/portal-profiles.js
  frontend/src/services/api.ts
Due: backend, frontend

fix(events): make test inserts schema-driven and sync production samples
  backend/setup/event-types.json
  backend/src/routes/events.js
  backend/test/tests/routes-events-test-notification-queue.test.js
  frontend/src/features/integrations/components/detail/RateLimitSection.tsx
Due: backend, frontend

fix(clevertap): add fallback identity for sparse sample events
  backend/setup/clevertap/clever-tap-configurations.json
Due: backend

fix(events): stamp unique payload id for test notification inserts
  backend/src/routes/events.js
  backend/test/tests/routes-events-test-notification-queue.test.js
Due: backend

fix(multi-action): infer action transform mode when omitted
  backend/src/processor/delivery-engine.js
  backend/src/processor/scheduler-worker.js
  backend/src/routes/outbound-integrations.js
  backend/test/tests/routes-outbound-integrations.test.js
Due: backend

fix(logs): preserve multi-action rows by scoping trace updates
  backend/src/data/logs.js
  backend/test/tests/mongodb-data.test.js
Due: backend

chore(indexes): silence startup warnings for partial and AI index conflicts
  backend/src/mongodb.js
  backend/src/services/ai/interaction-logger.js
Due: backend

Normalize Luma config schema for orgId-based runtime
  backend/setup/luma-qikberry-configs/configs/integration_configs.json
Due: backend

Fix scheduled integration update/delete org scope query
  backend/src/data/scheduled-integrations.js
Due: backend

chore: stop tracking local claude worktrees
  .gitignore
Due: none

Fix dashboard and logs drill-down behavior
  backend/src/routes/analytics.js
  backend/test/tests/routes-analytics.test.js
  frontend/src/features/dashboard/DashboardRoute.tsx
  frontend/src/features/dashboard/components/DashboardInboundTab.tsx
  frontend/src/features/dashboard/components/DashboardLogsTab.tsx
  frontend/src/features/dashboard/components/DashboardOutboundTab.tsx
  frontend/src/features/dashboard/components/DashboardScheduledTab.tsx
Due: backend, frontend

Update frontend htaccess configuration
  frontend/public/.htaccess
Due: frontend

Add backend system status monitoring
  backend/src/adapters/EventSourceAdapter.js
  backend/src/adapters/HttpPushAdapter.js
  backend/src/adapters/KafkaEventSource.js
  backend/src/adapters/MysqlEventSource.js
  backend/src/index.js
  backend/src/processor/delivery-worker-manager.js
  backend/src/processor/dlq-worker.js
  backend/src/processor/pending-deliveries-worker.js
  backend/src/processor/scheduled-job-worker.js
  backend/src/processor/scheduler-worker.js
  backend/src/processor/worker.js
  backend/src/routes/system-status.js
  backend/src/worker-heartbeat.js
  backend/test/tests/delivery-worker-manager-status.test.js
  backend/test/tests/kafka-event-source-status.test.js
  backend/test/tests/mysql-event-source-status.test.js
  backend/test/tests/routes-system-status.test.js
Due: backend

Update dashboard and deployment docs
  docs/README.md
  docs/guides/APACHE-SPA-TROUBLESHOOTING.md
  docs/guides/DEPLOYMENT.md
  frontend/src/components/charts/BarChart.tsx
  frontend/src/components/charts/ComposedChart.tsx
  frontend/src/features/dashboard/DashboardRoute.tsx
  frontend/src/features/dashboard/components/DashboardOverviewTab.tsx
  frontend/src/features/logs/routes/LogsRoute.tsx
Due: frontend

Add system status frontend and portal access
  backend/src/routes/portal-profiles.js
  backend/src/routes/system-status.js
  frontend/src/app/App.tsx
  frontend/src/features/admin/OrgDirectoryRoute.tsx
  frontend/src/features/auth/PortalLaunchRoute.tsx
  frontend/src/features/system-status/routes/SystemStatusRoute.tsx
  frontend/src/features/system-status/system-status-utils.ts
  frontend/src/services/api.ts
  frontend/src/tests/portal-launch-route.test.tsx
  frontend/src/tests/system-status-utils.test.ts
Due: backend, frontend

Fix backend CI trace log test
  backend/test/tests/mongodb-data.test.js
Due: backend

Clean up Biome lint checks
  backend/biome.json
  backend/package.json
  backend/src/data/integrations.js
  backend/src/services/ai/utils/extract-json.js
  frontend/biome.json
  frontend/package.json
  frontend/src/features/flowBuilder/components/InspectorPanel.tsx
  frontend/src/features/integrations/components/TransformationSection.tsx
  frontend/src/features/integrations/components/detail/shared/SecureBadge.tsx
  frontend/src/features/integrations/routes/integrationDetail/components/TransformationPanel.tsx
  frontend/src/features/integrations/routes/integrationDetail/utils/formatting.ts
  frontend/src/features/scheduled-jobs/routes/ScheduledJobDetailRoute.tsx
  frontend/src/features/settings/EventSourceSettingsRoute.tsx
Due: backend, frontend

Fix health endpoint memory reporting
  backend/src/services/health-monitor.js
  backend/test/tests/health-monitor.test.js
Due: backend

Expose process lifecycle in system status
  backend/src/routes/system-status.js
  backend/test/tests/routes-system-status.test.js
  frontend/src/features/system-status/routes/SystemStatusRoute.tsx
  frontend/src/features/system-status/system-status-utils.ts
  frontend/src/services/api.ts
  frontend/src/tests/system-status-utils.test.ts
Due: backend, frontend

Fix system-status route accuracy, security, and UI correctness
  backend/src/routes/system-status.js
  backend/test/tests/routes-system-status.test.js
  frontend/src/features/system-status/routes/SystemStatusRoute.tsx
Due: backend, frontend

Add global system status view
  backend/src/routes/system-status.js
  backend/test/tests/routes-system-status.test.js
  frontend/src/features/system-status/routes/SystemStatusRoute.tsx
  frontend/src/services/api.ts
Due: backend, frontend

Clarify global system status scope
  frontend/src/features/system-status/routes/SystemStatusRoute.tsx
Due: frontend

Harden runtime lifecycle and manual startup
  backend/src/config.js
  backend/src/db.js
  backend/src/index.js
  backend/src/processor/pending-deliveries-worker.js
  backend/src/services/process-lifecycle.js
  backend/src/worker-heartbeat.js
  backend/test/tests/routes-health.test.js
  frontend/src/components/OrgContextGuard.tsx
  start-backend.sh
Due: backend, frontend

Fix backend docker postinstall context
  backend/Dockerfile
Due: backend

Prevent duplicate and stale reminder sends
  backend/src/data/scheduled-integrations.js
  backend/src/processor/scheduler-worker.js
  backend/test/tests/scheduled-integrations-data.test.js
  backend/test/tests/scheduler-worker-reminder-expiry.test.js
Due: backend

Explain system status health drivers
  frontend/src/features/system-status/routes/SystemStatusRoute.tsx
Due: frontend

Improve system log file visibility
  backend/src/routes/system-logs.js
  backend/test/tests/routes-system-logs.test.js
  frontend/src/features/system-logs/routes/SystemLogsRoute.tsx
  frontend/src/services/api.ts
Due: backend, frontend

Fix inbound curl generation for public routes
  backend/src/utils/curl-generator.js
  frontend/src/features/inbound-integrations/routes/InboundIntegrationsRoute.tsx
Due: backend, frontend

Add inbound request policy controls
  backend/src/data/helpers.js
  backend/src/data/integrations.js
  backend/src/routes/integrations.js
  backend/src/services/request-policy.js
  backend/test/tests/request-policy.test.js
  frontend/src/features/inbound-integrations/routes/InboundIntegrationDetailRoute.tsx
  frontend/src/features/integrations/components/detail/RequestPolicySection.tsx
  frontend/src/mocks/types.ts
Due: backend, frontend

Add request policy admin controls and visibility
  backend/src/routes/admin.js
  backend/src/routes/integrations.js
  frontend/src/features/inbound-integrations/routes/InboundIntegrationsRoute.tsx
  frontend/src/features/integrations/components/detail/shared/RequestPolicySummary.tsx
  frontend/src/features/logs/routes/LogDetailRoute.tsx
  frontend/src/features/settings/AdminRateLimitsRoute.tsx
  frontend/src/services/api.ts
Due: backend, frontend

Add sender profile routing for inbound email
  backend/src/data/helpers.js
  backend/src/data/sender-profiles.js
  backend/src/index.js
  backend/src/processor/delivery-engine.js
  backend/src/routes/integrations.js
  backend/src/routes/sender-profiles.js
  backend/src/routes/system-status.js
  backend/src/services/communication/sender-routing.js
  frontend/src/app/App.tsx
  frontend/src/features/inbound-integrations/routes/InboundIntegrationDetailRoute.tsx
  frontend/src/features/logs/routes/LogDetailRoute.tsx
  frontend/src/features/settings/SenderProfilesRoute.tsx
  frontend/src/features/settings/SettingsRoute.tsx
  frontend/src/features/system-status/routes/SystemStatusRoute.tsx
  frontend/src/mocks/types.ts
  frontend/src/services/api.ts
Due: backend, frontend

Harden sender profiles and test event setup
  backend/src/data/sender-profiles.js
  backend/src/routes/events.js
  backend/test/scripts/insert-test-events-notification-queue.js
  backend/test/scripts/insert-test-events.js
  backend/test/tests/sender-profiles-data.test.js
  frontend/src/features/inbound-integrations/routes/InboundIntegrationDetailRoute.tsx
  frontend/src/features/inbound-integrations/routes/InboundIntegrationsRoute.tsx
  start-backend.sh
Due: backend, frontend

Add contact details to CleverTap setup payloads
  backend/setup/clevertap-integrations.json
  backend/setup/clevertap/clever-tap-configurations.json
  backend/setup/event-types.json
  backend/src/data/seed-event-schemas.js
  backend/src/data/seed-ivf-event-schemas.js
Due: backend

Fix test event contact details injection
  backend/src/routes/events.js
  backend/test/scripts/insert-test-events-notification-queue.js
  backend/test/scripts/insert-test-events.js
Due: backend

Fix CleverTap contact details flattening
  backend/setup/clevertap/clever-tap-configurations.json
Due: backend
